.shmover .flex-container {
    display: -webkit-inline-flex;
    /* Safari */
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    /* Safari */
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between;
}

.shmover .navbar-fixed-top {
    margin-left: 250px;
}

.shmover #page-content-header {
    background: #404040;
    top: 0;
    height: 60px;
    width: 100%;
    /*line-height: 69px;
    z-index: 1000;*/
}

.shmover #page-content-body{
    width:100%;
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
}

.shmover #main {
    width: 100%;
}

.shmover #left {
    display: flex;
    flex-direction: column;
    float:left;
    width:48%;
    margin: 0, 1%,0,1%
}

.shmover #right {
    display: flex;
    flex-direction: column;
    float:right;
    width:48%;
    margin: 0, 1%,0,1%
    }

.shmover .hostname {
    position:relative;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    
}

.shmover .title {
    color: rgba(255, 255, 255, 0.8);
    float: left;
    font-size: 36px;
    margin-top: 10px;
    padding-left: 15px;
}

.shmover .scrollit {
    overflow-y:auto;
    height:300px;
}

.shmover #moveit {
    height:300px;
    width:100%;
    font-size: 48px;
}